body{
    margin: 0 auto;
}
*{
    box-sizing: border-box;
}
.header{
    position: relative;
    font-family: 'Outfit', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}
.container{
   margin: 0 auto;
   width: 1440px;
}
.logo-name{
    font-size: 18px;
    font-weight: bold;}
.navbar{
    max-width: 1440px;
    max-height: 60px;
    display: flex;
    font-size: 21px;
    padding-top: 30px;
    display: flex;
    align-items: center;
}
.nav{
    margin: 0 auto;
}
.nav-link{
    text-decoration: none;
    color: #313131;
    text-align: center;
    margin-left: 15px;
    font-size: 19px;
}
.nav__link-first-child{
    margin-left: 0;
}
.logo{
    color: #313131;
    font-weight: bold;
    margin-right: 250px;
    display: flex;
    justify-content: flex-start;
}
.btn{
    text-decoration: none;
    color: #313131;
    background-color: #ffffff28;
    border-radius: 3px;
    padding: 18px 45px;
    display: inline-block;
    margin-left: 188px;
    
}
.btn__green{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background-color: #49AD09;
    border-radius: 3px;
    padding: 18px 45px;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
}
.hero{
    font-family: 'Inter', sans-serif;
    color: #313131;
    text-align: center;
    margin-top: 200px;
}
.hero-img-left{
    position: absolute;
width: 336.3px;
height: 553px;
left: 0;
top: 216px;
}
.hero-img-right{
    position: absolute;
width: 465.84px;
height: 617px;
right: 0;
top: 175px;
}
.hero-title{
    font-family: 'Inter', sans-serif;
    font-size: 78px;
    font-weight: bolder;
}
.hero-text{
    color: #514040;
    font-size: 18px;
}
.hero-auth{
    margin-bottom:300px;
}
.hero-btn{
    display: inline-block;
    padding: 18px 65px;
    background: #49AD09;
box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
border-radius: 5px;
text-decoration: none;
color: #ffffff;

}
.hero-btn-light{
    display: inline-block;
    padding-top: 61px;
    margin-left: 37px;
    text-decoration: none;
    color: #514040;
}
.container{
    margin: 0 auto;
    width: 1440px;
    text-align: center;
 } 
.partners{
width: 1129.8px;
height: 32px;
font-family: 'Outfit', sans-serif;
text-align: center;
}
.logo-partners{
    width: 100%;
}
.partners-text{
    font-size: 18px;
}
.partners-title{
    font-size: 45px;
}
.card-webflow{
    top: 80px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
    padding: 30px;
}
.card-link{
    color: #49AD09;
}
.card-shopify{
    top: 80px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
    background: rgba(73, 173, 9, 0.15);
border: 1px solid #EDEDED;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
    padding: 30px;
}
.card-link-shopify{
    color: #313131;
    top: 30px;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    margin: 0 auto;
    gap: 40px;
}
.card-figma{
    top: 80px;
    border-radius: 5px;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
    padding: 30px;
}
.card-link-figma{
    color: #313131;
    top: 30px;
}
.card-php{
    top: 80px;
    background: #313131;
    border-radius: 5px;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
    padding: 30px;
    color: white;
}
.card-link-php{
    color: #ffffff;
    top: 30px;
}
.btn-end{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 18px 101px 19px 101px;
    background: #49AD09;
box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
border-radius: 5px;
text-decoration: none;
color: #ffffff;
text-align: center;

}
